html {
    scroll-behavior: smooth;
    width: 100%;
}

body {   
    margin: 0;
    padding: 0;
    opacity: 0;
    overflow-x:hidden;
    transform: translateY(40px);
    animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
main {
    width: 100%;
    margin-top: 220px; 
}
.first {
    background-color: rgb(164, 237, 164);
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0; 
}

.first img {
    max-width: 100%;
    height: auto;
    
}
.texts {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'poppins', sans-serif;
    flex-wrap: wrap; 
    gap: 30px; 
    background-color: rgb(53, 177, 94);
    padding: 20px 40px;
    width: 100%;
}
a {
    display: flex;
    justify-content: center;
    color: beige;
    text-decoration: none;
    text-transform: uppercase;
}

.texts a {
    display: flex;
    text-align: center;
    white-space: nowrap;
    position: relative;
    color: beige;
    text-decoration: none;
    margin: 0 10px;
}
.texts a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: beige;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.texts a:hover::after,
.texts a.active::after {
    width: 100%;
}
main {
    width: 100%;
}

.logos {
    width: 100%;
}
